<form th:action="@{/addguests}" th:object="${guests}" method="POST">
    <div th:if="${persons} > 0">
        <h2>Guest 1</h2>
        Identifier: <input type="text" th:field="*{identifier1}" name="identifier1" required><br>
        Name: <input type="text" th:field="*{name1}" name="name1" required><br>
        Nacionality: <input type="text" th:field="*{nationality1}" name="nationality1" required><br>
    </div>
    <div th:if="${persons} > 1">
        <h2>Guest 2 (optional)</h2>
        Identifier: <input type="text" th:field="*{identifier2}" name="identifier2"><br>
        Name: <input type="text" th:field="*{name2}" name="name2"><br>
        Nacionality: <input type="text" th:field="*{nationality2}" name="nationality2"><br>
    </div>
    <div th:if="${persons} > 2">
        <h2>Guest 3 (optional)</h2>
        Identifier: <input type="text" th:field="*{identifier3}" name="identifier3"><br>
        Name: <input type="text" th:field="*{name3}" name="name3"><br>
        Nacionality: <input type="text" th:field="*{nationality3}" name="nationality3"><br>
    </div>

    <div>
        Start Date: <input type="datetime-local" th:field="*{startDateTime}" name="startDateTime" required> 
    </div>

    <div>
        End Date: <input type="datetime-local" th:field="*{endDateTime}" name="endDateTime" required>
    </div>
    <label th:if="${message}" th:text="${message}"></label>
    <input type="submit">
</form>
<div th:if="${nextStay} != null" >
    <span style="color: red;">A tomar en cuenta: </span>
    Proxima visita: <span th:text="${nextStay}"> </span></span>
</div>
<a href="manager"><button type="button">Volver</button></a>