<html>
    <head>

    </head>
    <body>
        <form th:action="@{/addstay}" th:object="${select_room}" method="POST">
            <select th:field="*{roomNumber}" name="roomNumber">
                <option th:each="room : ${rooms}" th:text="'Room '+${room.number}+' as '+${room.tRoom}+' - '+ ${room.availability}" th:value="${room.number}">
                   
                </option>

            </select>
            <input type="submit">
        </form>
        
            
        <a href="manager"><button type="button">Volver</button></a>    
    </body>

</html>