<span th:text="${id}"></span>

<div>
    <table>
        <thead>
            <tr>
                <th>Guests</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:each="guest : ${guests}">
                    <ul>
                        <li>
                            <span th:text="${guest.name}"></span> <a th:href="'?id='+${id}+'&identifier='+${guest.identifier}+'&delete=true'">Eliminar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <label th:if="${message}" th:text="${message}"></label>
</div>